body {
    font-size: 150%;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    background-color:#E0E5EC;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#52a500;
}

.calculator {
    background: #ffffff;
    background: #EEEEEE;
    width: 320px;
    height: 550px;
    border-radius: 0.5em;
    box-shadow:  4px 4px 5px #418102,
             -4px -4px 5px #64c404;
    margin: 0 auto;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculator-display {
    background: black;
    color: blanchedalmond;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 45pt;
    overflow-y: auto;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
    '. . . .'
    'seven eight nine equal'
    'four five six equal'
    'one two three equal'
    'zero decimal clear equal';
    justify-content: space-between;
}

.calculator-keys [data-type='operator'],
.calculator-keys [data-type='clear'],
.calculator-keys [data-type='number'] {
    cursor: grab;
    text-align: center;
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    box-shadow: 6px 6px 16px 0 rgba(209, 205, 199, .5),
      -6px -6px 16px 0 rgba(255, 255, 255, .5);
}

.calculator-keys .equal {
    grid-column: 4/ 4;
    border-radius: 50px;
       box-shadow:  3px 2px 10px 0 rgba(209, 205, 199, .5),
         -2px -2px 10px 0 rgba(255, 255, 255, 0.5);
    grid-area: equal;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-keys .equal:after {
    content: '';
    height: 98%;
    width:90%;
    border-radius: 50px ;
    position: absolute;
    background-color: transparent;
    box-shadow: inset -3px -3px 7px rgba(209, 205, 199, .5),
        inset 3px 3px 5px rgba(209, 205, 199, .5);
}

.calculator-keys .red-text {
    color: #ff0000;
}

[data-key="1"] {
    grid-area: one;
}

[data-key="2"] {
    grid-area: two;
}

[data-key="3"] {
    grid-area: three;
}

[data-key="4"] {
    grid-area: four;
}

[data-key="5"] {
    grid-area: five;
}

[data-key="6"] {
    grid-area: six;
}

[data-key="7"] {
    grid-area: seven;
}

[data-key="8"] {
    grid-area: eight;
}

[data-key="9"] {
    grid-area: nine;
}

[data-key="0"] {
    grid-area: zero;
}

.decimal {
    grid-area: decimal;
}

.clear {
    grid-area: clear;
}

[data-type='number'],
[data-type='clear'],
.operator,
.equal {
    border: none;
    margin: 5px;
}

[data-type='number']:focus,
[data-type='clear']:focus,
[data-type='operator']:focus,
.equal:focus {
    outline: none;
}

.calculator [data-state='selected'] {
    background: grey;
}