html {
    font-size: 150%;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    background-color:#E0E5EC;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#52a500;
}

.calculator {
    background: #ffffff;
    background: #EEEEEE;
    width: 320px;
    height: 550px;
    border-radius: 0.5em;
    box-shadow:  4px 4px 5px #418102,
             -4px -4px 5px #64c404;
    margin: 0 auto;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculator-display {
    background: black;
    color: blanchedalmond;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 45pt;
    overflow-y: auto;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
    '. . . .'
    'seven eight nine equal'
    'four five six equal'
    'one two three equal'
    'zero decimal clear equal';
    justify-content: space-between;
}

.calculator-keys .operator,
.calculator-keys .number {
    cursor: grab;
    text-align: center;
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    box-shadow: 6px 6px 16px 0 rgba(209, 205, 199, .5),
      -6px -6px 16px 0 rgba(255, 255, 255, .5);
}

.calculator-keys .equal {
    grid-column: 4/ 4;
    border-radius: 50px;
      /* box-shadow: inset 6px 6px 16px 0 rgba(209, 205, 199, .5),
        inset -6px -6px 16px 0 rgba(255, 255, 255, .5); */
      box-shadow:  3px 2px 10px 0 rgba(209, 205, 199, .5),
         -2px -2px 10px 0 rgba(255, 255, 255, 0.5);
    grid-area: equal;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-keys .equal:after {
    content: '';
    height: 98%;
    width:90%;
    border-radius: 50px ;
    position: absolute;
    background-color: transparent;
    box-shadow: inset -3px -3px 7px rgba(209, 205, 199, .5),
        inset 3px 3px 5px rgba(209, 205, 199, .5);
}

.calculator-keys .red-text {
    color: #ff0000;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.decimal {
    grid-area: decimal;
}

.clear {
    grid-area: clear;
}

/*.number:active {
    background:   rgb(245, 245, 245);
} */

/* .calculator-keys .equal:active {
    background: rgb(255, 148, 48);
} */

/* .operator {
    background: rgb(211, 211, 211);
} */

/* .operator:active {
    background:   rgba(190, 190, 190, 0.9);
} */

.operator,
.number,
.equal {
    border: none;
    margin: 5px;
}

.operator:focus,
.number:focus,
.equal:focus {
    outline: none;
}